# Compiled Object files
*.slo
*.lo
*.o
*.sym
*.map

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lst
*.srec
*.d
*.cof
*.err

#other filetypes to ignore
*.lnk
Thumbs.db
