.pgHdr {
	font-size: large;
	color: #0000FF;
}

.menuBtn {
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	border-left: 2px solid #FFFFFF;
	text-indent: 2px;
}

.menuBtn :hover {
	color: #CC9900;
}

.menu {
	background-color: #F0F0F0;
}

.top {
	border-bottom: 2px solid #0000FF;
	background-color: #ffdd00;
	width: 100%;
	height: 50px;
	vertical-align: middle;
}

A {
  color: #000000;
  text-decoration: none;
}

.mxlink {
	color: #0000FF;
	text-decoration: underline;
}
.tbrd {
	border: 2px solid #999999;
	padding: 0px;
}

.pinbtn {
	font-weight:bold;
	width: 38px;
}
.pinlbl {
	font-weight:bold;
}
