// Sample linker command file for 16f877a used with the ICD

LIBPATH  .

CODEPAGE   NAME=vectors  START=0x0000   END=0x0004   PROTECTED
CODEPAGE   NAME=page0    START=0x0005   END=0x07FF
CODEPAGE   NAME=page1    START=0x0800   END=0x0FFF
CODEPAGE   NAME=page2    START=0x1000   END=0x17FF
CODEPAGE   NAME=page3    START=0x1800   END=0x1EFF   
CODEPAGE   NAME=debug3   START=0x1F00   END=0x1FFF   PROTECTED
CODEPAGE   NAME=.idlocs  START=0x2000   END=0x2003
CODEPAGE   NAME=.config  START=0x2007   END=0x2007
CODEPAGE   NAME=eedata   START=0x2100   END=0x21FF   PROTECTED

SHAREBANK  NAME=dbgspr0  START=0x70     END=0x70     PROTECTED
SHAREBANK  NAME=gprnobnk START=0x71     END=0x7F
SHAREBANK  NAME=dbgspr0  START=0xF0     END=0xF0     PROTECTED
SHAREBANK  NAME=gprnobnk START=0xF1     END=0xFF
SHAREBANK  NAME=dbgspr0  START=0x170    END=0x170    PROTECTED
SHAREBANK  NAME=gprnobnk START=0x171    END=0x17F
SHAREBANK  NAME=dbgspr0  START=0x1F0    END=0x1F0    PROTECTED
SHAREBANK  NAME=gprnobnk START=0x1F1    END=0x1FF

DATABANK   NAME=gpr0     START=0x020    END=0x06F
DATABANK   NAME=gpr1     START=0x0A0    END=0x0EF
DATABANK   NAME=gpr2     START=0x110    END=0x16F
DATABANK   NAME=gpr3     START=0x190    END=0x1E4
DATABANK   NAME=dbggpr3  START=0x1E5    END=0x1EF    PROTECTED

DATABANK   NAME=sfr0     START=0x0      END=0x1F     PROTECTED
DATABANK   NAME=sfr1     START=0x80     END=0x9F     PROTECTED
DATABANK   NAME=sfr2     START=0x100    END=0x10F    PROTECTED
DATABANK   NAME=sfr3     START=0x180    END=0x18F    PROTECTED

SECTION    NAME=STARTUP  ROM=vectors    // Reset and interrupt vectors
SECTION    NAME=PROG1    ROM=page0      // ROM code space - page0
SECTION    NAME=PROG2    ROM=page1      // ROM code space - page1
SECTION    NAME=PROG3    ROM=page2      // ROM code space - page2
SECTION    NAME=PROG4    ROM=page3      // ROM code space - page3
SECTION    NAME=IDLOCS   ROM=.idlocs    // ID locations
SECTION    NAME=DEEPROM  ROM=eedata     // Data EEPROM

